.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  background-color: #fafafa;
  margin: 7px;
  min-height: 150px;
  padding: 10px;
  cursor: pointer;
  height: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 29, 85, 0.2); 
  background-color: rgba(0, 29, 85, 0.4);
}
.container {
  padding: 2px 16px;
}
.button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
